body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}

header, footer {
    border: 4px solid black;
    background-color: rgb(63 172 181 / 83%);
    color: white; 
    font-size: 26px;
    
    display: flex;
    justify-content: center;;
    align-items: center;
    width: 100vw;
}

header {
    height: 150px;
}

footer {
    height: 50px;
}

.calculatorBody, .answerScreen, .buttons, .buttons>div, .calculatorTop {
    border-radius: 10px;
    display: flex;
}

.calculatorBody, .answerScreen, .buttons>div {
    border: 2px solid black;
}

.calculatorBody, .answerScreen, .buttons>div {
    align-items: center;
}

.calculatorBody {
    flex-direction: column;
    width: 500px;
    height: 650px;
    background-color: rgb(63 172 181 / 83%);
    box-shadow: 5px 5px;
}

.calculatorTop {
    height: 220px;
    width: 500px;
    align-items: center;
}

.calculatorBottom {
    width: 450px;
    height: 400px;
    justify-content: left;;
}

.answerScreen {
    justify-content: center;
    margin: 50px 20px 50px 50px;
    width: 290px;
    height: 170px;
    font-size: 22px;
    background-color: white;
    box-shadow: 5px 5px;
}

.buttons { 
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.buttons > div {
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: white;
    box-shadow: 5px 5px;
}

.calculatorTop > .buttons {
    width: 90px;
}

.buttons > .buttonHover { 
    transform: scale(1.05);
    background-color:rgba(230, 238, 240, 0.83);
}

